@import url('https://fonts.googleapis.com/css?family=Roboto');
    

input[type=submit], input[type=button]{
    -webkit-appearance: none !important;
}

body{
  margin: 0;
  padding: 0;
}

.App{
    height: 100vh;
}

.login{
    display: flex; 
    display: -webkit-flex;
    align-items: center; 
    -webkit-align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
}
.login .background{
    position: absolute;
    background-image: url('./login_background.jpg');
    background-size: 100% 100%;   
    top: 0;
    left:0; 
    z-index: -1;
    width: 100%;
    height: 100%;
}

.login .box{
    max-width: 600px;  
    text-align: center;      
}

.login .title{
    color: rgba(255, 255, 255, 0.8);       
    font-size: 1.8em;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.login .subtitle{
    color: white;
    width: 70%;
    margin: 0 auto;
    font-size: 0.7rem;    
    margin-bottom: 6vw;
}

.input-box{
    display: flex; 
    display: -webkit-flex;
    flex-direction: column; 
    -webkit-flex-direction: column;
    align-items: center; 
    -webkit-align-items: center;
}

.input{
    color: white;
    width: 70%;
    height: 9vh;
    max-height: 40px;
    border-radius : 40px;   
}

.input:focus{
    outline: none;
}

.input-text{
    text-align: center;
    background-color: transparent;
    margin-bottom: 2vh;       
    border: 1px solid white;     
}

.input-password{
    font-size: 1.2rem;
}

.input-password::placeholder{
    font-size: 12px;
}

.input-text::placeholder{
    color: white;
    font-size: 0.8rem;
    opacity: 1;
}

.button{
    background-color: #18668a;
    border: none;
    height: 11vh;
    color: #d4e4f7;
    cursor: pointer;
    -webkit-appearance: none;
}

.button:active{
    background-color: rgba(255, 255, 255, 0.5);
    color: #18668a;
}

.main{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;    
    display: flex; 
    display: -webkit-flex;
    flex-direction: column; 
    -webkit-flex-direction: column;
    align-items: center; 
    -webkit-align-items: center;
    justify-content: space-around;
    background-image: url('./back_main.png');
    background-size: 100% 100%;   
}

.main .main-title{
    color: lightcyan;       
    font-size: 4vh; 
    height: 10%;
    display: flex; display: -webkit-flex;
    align-items: center; -webkit-align-items: center;
    justify-content: center;
}

.main .group-box{
  display: flex; display: -webkit-flex;
  justify-content: center;
  flex-wrap: wrap; -webkit-flex-wrap: wrap;
}

.mainbox{
    height: 50vw;
    width: 50vw;
    max-width: 200px;
    max-height: 200px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    cursor: pointer;
}

.mainbox .label{
  height: 100%;
  width: 100%;
  display: flex; display: -webkit-flex;
  justify-content: center;
  align-items: center; -webkit-align-items: center;
  flex-direction: column; -webkit-flex-direction: column;
  color: white;
}

.mainbox .title{
    font-size: 4vh;
}

.mainbox .imgContainer{
    width: 8vh;
    max-width: 80px;
}

.mainbox .imgContainer img{
   width: 100%;
}

.familias{    
    background-color: #eaeef0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex; display: -webkit-flex;
    flex-direction: column; -webkit-flex-direction: column;
    align-items: center; -webkit-align-items: center;    
}

.navbar{
    background : linear-gradient(45deg, rgba(53,18,82,1) 0%, rgba(0,65,79,1) 100%);
    display: flex; display: -webkit-flex;
    height: 15vh;
    max-height: 60px;
    color: white;
    font-size: 1.1em;
    align-items: center; -webkit-align-items: center;
    box-shadow: 1px 2px 6px -1px rgba(102,102,102,0.8);;
    width: 100%
}

.navbar .img{
    position: absolute;
    top: 7px;   
    cursor: pointer;
}

.navbar .img img{
    height: 7vh;
    cursor: pointer;
    max-height: 70px;
}

.navbar .text{
    display: flex; 
    display: -webkit-flex;
    width: 100%;
    align-items: center; 
    -webkit-align-items: center;
    justify-content: center;
    font-size: 3.5vh;
}

.navbar .text img{
    height: 10vh;
    max-height: 42px;
}

.list{
    list-style-type: none;        
    padding: 10px 10px 15px 20px;
    margin-top: 0;
}

.list .listitem {
    background-color: rgba(255, 255, 255, 0.8);  
    border: 1px solid   #e2dfe6;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.list .listitem .left{
    position: relative;
    top: -10px;
    left: -20px;
    border: 3px solid #edeaf0;
    border-radius: 45px;
    width: 45px;
    height: 45px;
    display: -ms-flexbox;
    display: flex; display: -webkit-flex;
    -ms-flex-align: center;
    align-items: center; -webkit-align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    background-color: rgb(106, 106, 117);
    color: rgba(255, 255, 255, 1);
}

.list .listitem .inside{
    display: flex; display: -webkit-flex;
    flex-direction: row; -webkit-flex-direction: row;
    flex-wrap: wrap; -webkit-flex-wrap: wrap;
    margin-top: -45px;
    margin-left: 35px;
}

.list .listitem .inside .inside-left{
    width: 65%;
    font-size: 14px;
    display: flex; display: -webkit-flex;
    flex-direction: column; -webkit-flex-direction: column;
    margin-left: 2vh;
}

.list .listitem .inside .inside-right{    
    align-items: center; -webkit-align-items: center;
    display: flex; display: -webkit-flex;
    justify-content: center;
}

.list .listitem .inside .up{
    height: 40px;
    font-weight: 600;
    line-height: 20px;
    padding-top: 10px;
}
.list .listitem .inside .down{
    height: 30px;
    font-size: 12px;

    /* color: #fbe7ff */
}

.listItemButton{
    width: 55px;
    height: 27px;
    border-radius: 35px;
    border: none;
    cursor: pointer;
}

.floatbutton{
    background: linear-gradient(45deg, rgba(0,65,79,1) 0%, rgba(53,18,82,1) 100%);
    width: 18vh;
    height: 18vh;
    max-width: 80px;
    max-height: 80px;
    border-radius: 80px;
    display: flex; display: -webkit-flex;
    align-items: center; -webkit-align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    right: 30px;
    box-shadow: -1px 4px 5px 0px rgba(99,99,99,0.8);
    cursor: pointer;
}

.floatbutton img{
    max-height: 23px;
    height: 5vh;   
}

.addFamilia{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.react-swipe-container{
    height: 100%;
}

.react-swipe-container > div{
    height: 100%;
}

.addFamilia .navButtons *{
    position: absolute;
    top: 50vh;
    height: 8vh;
    max-height: 50px;
}

.addFamilia .navButtons .prev{
    left: 0;
}

.addFamilia .navButtons .next{
    right: 0;
}

.addView{
    height: 100%;   
    display: flex; display: -webkit-flex;
    flex-direction: column; -webkit-flex-direction: column;
    justify-content: center;    
    align-items: center; -webkit-align-items: center; 
}

.addView .scroller{
    overflow-y: auto;
    display: flex; display: -webkit-flex;
    flex-direction: column; -webkit-flex-direction: column;
    justify-content: center;    
    align-items: center; -webkit-align-items: center;
}

.addView .input-box {
    max-width: 600px;
    width: 100%;
    margin-top: 10px;
}

.addView .input-box label{
    color: white;
    font-size: 0.8em;
}

.addView .title{
    font-size: 1.5em;
    color: white;
    margin-bottom: 4vh;
}

.addView .input{
    color: white;     
}


.input-text::placeholder{
    opacity: 0.9;
    font-weight: lighter;
}

.addView.add-basic{
    background: linear-gradient(45deg, rgba(64,3,3,1) 0%, rgba(168,13,13,1) 100%);
}

.addView.add-basic .input-text{  
    border: 2px solid rgb(253, 119, 119);    
}

.addView.add-basic .input-text::placeholder{
    color: rgb(212, 187, 187);
}

.addView.add-basic .pass{
    color: #5a1212;
}

.addView.add-rent{
    background: linear-gradient(45deg, rgba(14,64,10,1) 0%, rgba(27,145,20,1) 100%);
}

.addView.add-rent .input-text{  
    border: 2px solid rgb(119, 253, 152);
}

.addView.add-rent .input-text::placeholder{
    color: rgb(167, 199, 173);
}

.addView.add-rent .pass{
    color: #125a24;
}

.addView.add-members{
    background: linear-gradient(45deg, rgba(11,19,64,1) 0%, rgba(1,81,145,1) 100%);
}

.addView.add-members .input-text{  
    border: 2px solid rgb(128, 119, 253);
}

.addView.add-members .input-text::placeholder{
    color: rgb(180, 186, 214);
}

.addView.add-members .pass{
    color: #19125a;
}

.addView.add-attendance{
    background: linear-gradient(45deg, rgba(130,86,14,1) 0%, rgba(191,135,23,1) 100%);
}

.addView.add-attendance .input-text{  
    border: 2px solid rgb(253, 228, 119);
}

.addView.add-attendance .input-text::placeholder{
    color: rgb(206, 201, 178);
}

.addView.add-attendance .pass{
    color: #5a4312;
}

.add-box{
    max-height: 60vh;
    overflow-y: auto; 
    margin-bottom: 10px;   
}

.add-box .header{
    display: flex; display: -webkit-flex;
    justify-content: center;
    align-items: center; -webkit-align-items: center;
    color: rgba(255,255,255,0.8);    
    margin-bottom: 30px;
    margin-top: 20px;
}

.add-box .header img{
    background-color: rgba(255,255,255,0.8);
    padding: 5px 8px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}


.actionButton{
        -webkit-appearance: none;
        -moz-box-shadow: 0px 3px 0px 0px #6b3579;
        -webkit-box-shadow: 0px 3px 0px 0px #6b3579;
        box-shadow: 0px 3px 0px 0px #6b3579;
        background-color:#9b67af;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        padding:2vh 2vh;
        text-decoration:none;
        border: none;
}
    .actionButton:hover {
        background-color:#6b3579;
        -moz-box-shadow: 0px 3px 0px 0px #3a1c3a;
        -webkit-box-shadow: 0px 3px 0px 0px #3a1c3a;
        box-shadow: 0px 3px 0px 0px #3a1c3a;        
    }

    .actionButton:active {
        -moz-box-shadow: 0px 1px 0px 0px #3a1c3a;
        -webkit-box-shadow: 0px 1px 0px 0px #3a1c3a;
        box-shadow: 0px 1px 0px 0px #3a1c3a;     
    }

    .actionButton.red{
        -moz-box-shadow: 0px 3px 0px 0px #b14444 !important;
        -webkit-box-shadow: 0px 3px 0px 0px #b14444 !important;
        box-shadow: 0px 3px 0px 0px #b14444 !important;
        background-color:rgb(253, 119, 119) !important;
    }

        actionButton.red:hover{
            background-color:#b14444 !important;
            -moz-box-shadow: 0px 3px 0px 0px #300707 !important;
            -webkit-box-shadow: 0px 3px 0px 0px #300707 !important;
            box-shadow: 0px 3px 0px 0px #300707 !important;    
        }

        .actionButton.red:active {
            -moz-box-shadow: 0px 1px 0px 0px #300707 !important;
            -webkit-box-shadow: 0px 1px 0px 0px #300707 !important;
            box-shadow: 0px 1px 0px 0px #300707 !important;     
        }  
        
    .actionButton.green{
        -moz-box-shadow: 0px 3px 0px 0px #2a8d42 !important;
        -webkit-box-shadow: 0px 3px 0px 0px #2a8d42 !important;
        box-shadow: 0px 3px 0px 0px #2a8d42 !important;
        background-color:#3bbd5c !important;
    }

        actionButton.green:hover{
            background-color:#2a8d42 !important;
            -moz-box-shadow: 0px 3px 0px 0px #083814 !important;
            -webkit-box-shadow: 0px 3px 0px 0px #083814 !important;
            box-shadow: 0px 3px 0px 0px #083814 !important;    
        }

        .actionButton.green:active {
            -moz-box-shadow: 0px 1px 0px 0px #083814 !important;
            -webkit-box-shadow: 0px 1px 0px 0px #083814 !important;
            box-shadow: 0px 1px 0px 0px #083814 !important;     
        } 
            
    .actionButton.blue{
        -moz-box-shadow: 0px 3px 0px 0px #4c3ec4 !important;
        -webkit-box-shadow: 0px 3px 0px 0px #4c3ec4 !important;
        box-shadow: 0px 3px 0px 0px #4c3ec4 !important;
        background-color:#7465fc !important;
    }

        actionButton.blue:hover{
            background-color:#4c3ec4 !important;
            -moz-box-shadow: 0px 3px 0px 0px #231885 !important;
            -webkit-box-shadow: 0px 3px 0px 0px #231885 !important;
            box-shadow: 0px 3px 0px 0px #231885 !important;    
        }

        .actionButton.blue:active {
            -moz-box-shadow: 0px 1px 0px 0px #231885 !important;
            -webkit-box-shadow: 0px 1px 0px 0px #231885 !important;
            box-shadow: 0px 1px 0px 0px #231885 !important;     
        }                 

    .actionButton.beige{
        -moz-box-shadow: 0px 3px 0px 0px #ad8630 !important;
        -webkit-box-shadow: 0px 3px 0px 0px #ad8630 !important;
        box-shadow: 0px 3px 0px 0px #ad8630 !important;
        background-color:#eec366 !important;
    }

        actionButton.beige:hover{
            background-color:#ad8630 !important;
            -moz-box-shadow: 0px 3px 0px 0px #795b1c !important;
            -webkit-box-shadow: 0px 3px 0px 0px #795b1c !important;
            box-shadow: 0px 3px 0px 0px #795b1c !important;    
        }

        .actionButton.beige:active {
            -moz-box-shadow: 0px 1px 0px 0px #795b1c !important;
            -webkit-box-shadow: 0px 1px 0px 0px #795b1c !important;
            box-shadow: 0px 1px 0px 0px #795b1c !important;     
        } 

.input-duo, .input-trio{
    display: flex; display: -webkit-flex;
    flex-wrap: wrap; -webkit-flex-wrap: wrap;
    align-items: center; -webkit-align-items: center;
    flex-direction: row; -webkit-flex-direction: row;
    justify-content: center;    
}

.input-duo input, .input-trio input{
    margin-bottom: 0;
}

.input-duo label:first-child, .input-trio label.first{
    width: 50vw;
    max-width: 300px;
}

.input-trio label.first{
    text-align: center;
}

.input-duo label:last-child,
.input-trio label.last
{
    width: 30vw;
    max-width: 197px;
}

.input-duo input.first, .input-trio .input.first{
    width: 50vw;
    max-width: 300px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-trio .input.first{
    border-bottom-left-radius: 0;
    border-top-left-radius: 16px;
}

.input-trio .input.last{
    border-bottom-right-radius: 0;
    border-top-right-radius: 16px;
    width: 30vw !important;
    max-width: 197px;
}

.input-trio .input.third{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 80.3vw;
    max-width: 500px;
    margin-top: -2px;
}

.input-duo input.last, .input-trio .input.last{
    width: 30vw;
    max-width: 197px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -2px;
}

.input-box{
    position: relative;
}

.input-box .close{
    position: absolute;
    max-width: 21px;
    max-height: 20px;
    width: 5vh;
    height: 5vh;
    bottom: 0;
    right: 40px;
    font-size: 17px;
    padding-bottom: 1px;
    font-weight: bold;
    margin-top: 25px;
    background-color: rgba(255,255,255, 0.8);
    display: flex; display: -webkit-flex;
    align-items: center; -webkit-align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transform: rotate(45deg);
}

.pass{
    position: absolute;
    top: 1.5vh;
    left: 1.5vh;
    font-weight: bold;
    height: 7vh;
    width: 7vh;
    max-width: 30px;
    max-height: 30px;
    border-radius: 40px;
    background-color: white;
    display: flex; display: -webkit-flex;
    align-items: center; -webkit-align-items: center;
    justify-content: center;
}

.addView>a .close{
    position: absolute;    
    top: 0;
    right: 2vh;
    font-size: 1.7em;
    color: white;
    font-weight: bold;
    transform: rotate(45deg);
}

textarea:focus, input:focus{
    outline: none;
}

@media only screen and (max-width: 600px) {
    
    .addView .input-box{
        max-width: 310px;
    }
    .input-box .close{
        right: 10px;
    }
}

@media only screen and (max-width: 350px) {

    .input-duo .input-text,
    .input-trio .input-text{
        font-size: 0.5em !important;
    }

    .input-text{
        font-size: 0.7rem;
    }

    .list .listitem .left{
        font-size: 0.6rem;
        width: 10vh;
        height: 10vh;
        max-width: 45px;
        max-height: 45px;
    }

    .list .listitem .inside{
        margin-left: 20px;
    }
    .list .listitem .inside .inside-left{
        font-size: 0.7rem;
    }

    .list .listitem .inside .down{
        font-size: 0.6rem;
        margin-bottom: 5px;
    }
    
    .list .listitem .inside .up{
        height: 24px;
        line-height: initial;
        margin-bottom: 10px;
    }

    .listItemButton{
        width: 45px;
        height: 27px;
    }

    .search i{
        margin-top: 5px;
    }

    .addView .title{
        font-size: 1rem;

    }
    .addView .input-box {
        margin-top: 0;
    }

    .addView .input-box.input-trio{
        margin-top: 5px;
    }

    .addView .input-box label{
        font-size: 0.6em;
    }

    .input-trio .input.third{
        width: 81vw;
    }
}

a{
    text-decoration: none;
}

.inputMic{
    position: relative;    
}

    .inputMic i{
        position: absolute;
        right: 67px;
        bottom: 29px;
        color: rgba(255,255,255, 0.7);
        cursor: pointer;
    }

        .inputMic i:hover{
            color: #708ff3;
        }

        .inputMic i.active{
            color: #708ff3;               
        }

.search input::placeholder{
    font-size: 1rem;
    color: rgba(124, 141, 158, 0.4);
}

/* RC Switch */

.rc-switch {
    color: white;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 70px;
    height: 22px;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 20px 20px;
    border: 1px solid #ccc;
    background-color: #ccc;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  }

  .rc-switch.rc-switch-checked{
    color: #654509 !important;
  }

  .rc-switch-inner {
    font-size: 12px;
    position: absolute;
    left: 24px;
  }
  .rc-switch:after {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 2px;
    top: 1px;
    border-radius: 50% 50%;
    background-color: #fff;
    content: " ";
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    transform: scale(1);
    transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    animation-duration: 0.3s;
    animation-name: rcSwitchOff;
  }
  .rc-switch:hover:after {
    transform: scale(1.1);
    animation-name: rcSwitchOn;
  }
  .rc-switch:focus {
    box-shadow: 0 0 0 2px #d5f1fd;
    outline: none;
  }
  .rc-switch-checked {
    border: 1px solid #e8ce4e;
    background-color: #e8ce4e;
  }
  .rc-switch-checked .rc-switch-inner {
    left: 6px;
  }
  .rc-switch-checked:after {
    left: 48px;
  }
  .rc-switch-disabled {    
    cursor: no-drop;
    background: #ccc;
    border-color: #ccc;
  }

  .rc-switch-disabled:after {
    background: #9e9e9e;
    animation-name: none;
    cursor: no-drop;
  }
  .rc-switch-disabled:hover:after {
    transform: scale(1);
    animation-name: none;
  }
  .rc-switch-label {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    padding-left: 10px;
    vertical-align: middle;
    white-space: normal;
    pointer-events: none;
    user-select: text;
  }
  @keyframes rcSwitchOn {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1.1);
    }
  }
  @keyframes rcSwitchOff {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  